// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'DM Serif Display', serif;
}


.fade-out {
    animation: fadeOut 2s linear;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}