// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tilt+Warp&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tilt Warp', sans-serif;
}


.fade-out {
    animation: fadeOut 2s linear;
    animation-fill-mode: forwards;
}

/* For the carousel on DASHBOARD */
.draggable-carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
}

.draggable-carousel::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.achievement-card {
    min-width: 250px;
    flex: 0 0 auto;
    cursor: grab;
}

/* The big first letter thing in news */
.first-letter-large::first-letter {
    font-size: 3rem;
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    font-family: 'DM Serif Display', serif; // optional if you're using this font
}

/* Draggable announcement */
.announcement-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: grab;
}

.announcement-scroll::-webkit-scrollbar {
    display: none;
}

.badge-food {
    background-color: #4CAF50; // green
    color: white;
}

.badge-waste {
    background-color: #9C27B0; // purple
    color: white;
}

.badge-energy {
    background-color: #FF9800; // orange
    color: white;
}

.badge-air {
    background-color: #03A9F4; // blue
    color: white;
}

.badge-land {
    background-color: #795548; // brown
    color: white;
}

.badge-sea {
    background-color: #00BCD4; // teal
    color: white;
}


@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}