// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    font-family: 'Spectral', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}


.fade-out {
    animation: fadeOut 2s linear;
    animation-fill-mode: forwards;
}

/* For the carousel on DASHBOARD */
.draggable-carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
}

.draggable-carousel::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.achievement-card {
    min-width: 250px;
    flex: 0 0 auto;
    cursor: grab;
}

/* The big first letter thing in news */
.first-letter-large::first-letter {
    font-size: 3rem;
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    font-family: 'DM Serif Display', serif; // optional if you're using this font
}

/* Draggable announcement */
.announcement-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: grab;
}

.announcement-scroll::-webkit-scrollbar {
    display: none;
}



@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}